/* .background{

   
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='10' y1='3' x2='10' y2='17' stroke='%231b263b' stroke-width='2'/%3E%3Cline x1='3' y1='10' x2='17' y2='10' stroke='%231b263b' stroke-width='2'/%3E%3C/svg%3E");
    background-repeat: repeat;
    background-size: 30px 30px;
   


} */